go 1.24.1

use (
	./cmd/exp1/auth
	./cmd/exp1/chat
	./config
	./domain/auth
	./domain/chat
	./domain/user
	./internal/application/auth
	./internal/application/chat_message
	./internal/application/user_chat
	./internal/infrastructure/cassandra
	./internal/presentation/gin_server
	./pkg/claims
	./pkg/logger/adapter
	./pkg/logger/zap_logger
	./pkg/metrics/adapter
	./pkg/metrics/prometheus
	./pkg/websocket/gorilla_socket
)
