go 1.22.1

use (
	./cmd/exp1/auth
	./cmd/exp1/chat
	./config
	./domain/auth
	./domain/chat
	./domain/user
	./internal/application/auth
	./internal/infrastructure/cassandra
	./internal/presentation/gin_handlers
	./pkg/claims
	./pkg/logger/adapter
	./pkg/logger/zap_logger
	./pkg/metrics/adapter
	./pkg/metrics/prometheus
	./pkg/servers/gin_server
)
