go 1.22.1

use (
	./cmd/exp1/auth
	./cmd/exp1/chat
	./config
	./domain/auth
	./domain/chat
	./domain/user
	./pkg/claims
	./pkg/logger/adapter
	./pkg/logger/zap_logger
	./pkg/metrics/adapter
	./pkg/metrics/prometheus
)
